body{
    margin: auto;
    background-color: aquamarine;
}

.correction{
    color: red;
}

.container{
    margin: auto;
    background-color: green;
    width: 25%;
    border-radius: 15px;
}

.center{
    margin: auto;
    text-align: center;
}

.haiku{
    font-size: xx-large;
}